[mysqld_safe]
socket		= /var/run/mysqld/mysqld.sock
nice		= 0

[mysqld]
#
# * Basic Settings
#
user		= mysql
#pid-file = /home/hong.wu/local/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock
port		= 3306
#basedir = /home/hong.wu/local/
datadir		= /var/lib/mysql
tmpdir		= /tmp
# secure_file_priv =
# skip-external-locking
# skip-grant-tables
# performance_schema
#show_compatibility_56 = ON
#
# Instead of skip-networking the default is now to listen only on
# localhost which is more compatible and is not less secure.
bind-address		= 127.0.0.1
sql_mode		= NO_ENGINE_SUBSTITUTION
log_error		= /var/log/mysql/error.log
log_error_verbosity		= 3
slow_query_log_file		= /var/log/mysql/base/mysql-slow.log
log_bin		= /var/lib/mysql/mysql-bin.log
#binlog_do_db		= include_database_name
#binlog_ignore_db		= include_database_name
myisam-recover-options		= BACKUP
max_connections		= 19355
binlog-format		= ROW
server_id		= 406590050
innodb_log_checksums		= OFF
expire_logs_days		= 99
innodb_force_load_corrupted		= OFF
autocommit		= ON
automatic_sp_privileges		= ON
back_log		= 49941
binlog_cache_size		= 3400837205
binlog_direct_non_transactional_updates		= ON
binlog_error_action		= IGNORE_ERROR
binlog_format		= MIXED
binlog_group_commit_sync_delay		= 292374
binlog_group_commit_sync_no_delay_count		= 100000
binlog_order_commits		= ON
binlog_row_image		= full
binlog_rows_query_log_events		= ON
binlog_stmt_cache_size		= 4210642001
bulk_insert_buffer_size		= 57284030
check_proxy_users		= ON
completion_type		= CHAIN
concurrent_insert		= AUTO
connect_timeout		= 2
default_week_format		= 0
delay_key_write		= ALL
div_precision_increment		= 0
end_markers_in_json		= ON
eq_range_index_dive_limit		= 0
explicit_defaults_for_timestamp		= ON
flush		= OFF
flush_time		= 0
ft_min_word_len		= 8
ft_query_expansion_limit		= 35
general_log		= ON
group_concat_max_len		= 4
host_cache_size		= 28866
innodb_adaptive_flushing		= ON
innodb_adaptive_flushing_lwm		= 2
innodb_adaptive_hash_index_parts		= 1
innodb_adaptive_max_sleep_delay		= 80658
innodb_api_bk_commit_interval		= 1
innodb_api_disable_rowlock		= ON
innodb_api_enable_binlog		= OFF
innodb_api_enable_mdl		= ON
innodb_autoextend_increment		= 6
innodb_buffer_pool_size		= 33207700276
innodb_change_buffer_max_size		= 11
innodb_change_buffering		= all
innodb_cmp_per_index_enabled		= ON
innodb_commit_concurrency		= 0
innodb_compression_failure_threshold_pct		= 11
innodb_compression_level		= 9
innodb_compression_pad_pct_max		= 36
innodb_concurrency_tickets		= 3096739840
innodb_deadlock_detect		= ON
innodb_default_row_format		= DYNAMIC
innodb_disable_sort_file_cache		= ON
innodb_doublewrite		= ON
innodb_file_per_table		= ON
innodb_fill_factor		= 20
innodb_flush_log_at_timeout		= 323
innodb_flush_log_at_trx_commit		= 0
innodb_flush_neighbors		= 0
innodb_flush_sync		= ON
innodb_flushing_avg_loops		= 1000
innodb_ft_cache_size		= 1600000
innodb_ft_enable_diag_print		= ON
innodb_ft_enable_stopword		= ON
innodb_ft_max_token_size		= 48
innodb_ft_min_token_size		= 0
innodb_ft_num_word_optimize		= 9338
innodb_ft_result_cache_limit		= 837292856
innodb_ft_sort_pll_degree		= 1
innodb_ft_total_cache_size		= 1463349490
innodb_io_capacity		= 2000000
innodb_io_capacity_max		= 1442
innodb_log_buffer_size		= 243952069
innodb_log_compressed_pages		= ON
innodb_log_file_size		= 1073741824
innodb_log_files_in_group		= 8
innodb_log_write_ahead_size		= 12005
innodb_lru_scan_depth		= 8844
innodb_max_dirty_pages_pct		= 99
innodb_max_dirty_pages_pct_lwm		= 0
innodb_max_purge_lag		= 0
innodb_max_purge_lag_delay		= 283559
innodb_max_undo_log_size		= 18446700000000000000
innodb_old_blocks_time		= 0
innodb_online_alter_log_max_size		= 1396256584507286000
innodb_open_files		= 584294
innodb_optimize_fulltext_only		= ON
innodb_page_cleaners		= 3
innodb_print_all_deadlocks		= ON
innodb_purge_batch_size		= 1
innodb_purge_rseg_truncate_frequency		= 5
innodb_purge_threads		= 4
innodb_random_read_ahead		= OFF
innodb_read_ahead_threshold		= 30
innodb_read_io_threads		= 1
innodb_replication_delay		= 7696
innodb_rollback_on_timeout		= ON
innodb_rollback_segments		= 112
innodb_sort_buffer_size		= 65375275
innodb_spin_wait_delay		= 411
innodb_stats_auto_recalc		= OFF
innodb_stats_include_delete_marked		= OFF
innodb_stats_method		= nulls_equal
innodb_stats_on_metadata		= OFF
innodb_stats_persistent		= ON
innodb_stats_transient_sample_pages		= 88
innodb_strict_mode		= ON
innodb_sync_array_size		= 1024
innodb_sync_spin_loops		= 6206
innodb_table_locks		= ON
innodb_thread_concurrency		= 598
innodb_thread_sleep_delay		= 1000000
innodb_undo_log_truncate		= ON
innodb_use_native_aio		= OFF
innodb_write_io_threads		= 54
join_buffer_size		= 128
keep_files_on_create		= OFF
key_buffer_size		= 11645669379
key_cache_age_threshold		= 100
key_cache_block_size		= 16384
key_cache_division_limit		= 1
local_infile		= ON
log_bin_trust_function_creators		= OFF
log_bin_use_v1_row_events		= ON
log_builtin_as_identified_by_password		= OFF
log_output		= NONE
log_queries_not_using_indexes		= ON
log_slave_updates		= OFF
log_slow_admin_statements		= ON
log_statements_unsafe_for_binlog		= ON
log_syslog_include_pid		= OFF
log_timestamps		= UTC
long_query_time		= 19
low_priority_updates		= ON
lower_case_table_names		= 0
master_verify_checksum		= OFF
max_allowed_packet		= 780251800
max_binlog_cache_size		= 8223437679648312000
max_binlog_size		= 4096
max_binlog_stmt_cache_size		= 2325783202339222000
max_delayed_threads		= 13514
max_digest_length		= 0
max_error_count		= 5452
max_heap_table_size		= 1073741824
max_join_size		= 4481645128942878000
max_length_for_sort_data		= 1653689
max_points_in_geometry		= 521979
max_prepared_stmt_count		= 0
max_seeks_for_key		= 1
max_sort_length		= 7315592
max_user_connections		= 0
max_write_lock_count		= 13695440969275540000
multi_range_count		= 134142584
mysql_native_password_proxy_users		= ON
net_buffer_length		= 342008
net_read_timeout		= 18
net_write_timeout		= 1
ngram_token_size		= 10
offline_mode		= ON
old_alter_table		= ON
old_passwords		= 0
open_files_limit		= 0
optimizer_prune_level		= 0
optimizer_search_depth		= 10
preload_buffer_size		= 1024
query_alloc_block_size		= 4660173
query_cache_limit		= 0
query_cache_min_res_unit		= 512
query_cache_size		= 455490944
query_cache_wlock_invalidate		= OFF
query_prealloc_size		= 2199406
range_alloc_block_size		= 65536
read_buffer_size		= 375444859
read_rnd_buffer_size		= 134217728
require_secure_transport		= OFF
session_track_gtids		= OFF
session_track_schema		= ON
session_track_state_change		= OFF
session_track_transaction_info		= OFF
show_compatibility_56		= ON
skip_external_locking		= ON
skip_name_resolve		= OFF
skip_networking		= OFF
slow_query_log		= ON
sort_buffer_size		= 20304813
stored_program_cache		= 293246
sync_binlog		= 737222848
sync_frm		= ON
table_definition_cache		= 524288
table_open_cache		= 1
table_open_cache_instances		= 1
thread_cache_size		= 0
tmp_table_size		= 1024
transaction_alloc_block_size		= 36123
transaction_prealloc_size		= 40661
updatable_views_with_limit		= NO
