[mysqld_safe]
socket		= /var/run/mysqld/mysqld.sock
nice		= 0

[mysqld]
#
# * Basic Settings
#
user		= mysql
#pid-file = /home/hong.wu/local/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock
port		= 3306
#basedir = /home/hong.wu/local/
datadir		= /var/lib/mysql
tmpdir		= /tmp
# secure_file_priv =
# skip-external-locking
# skip-grant-tables
# performance_schema
#show_compatibility_56 = ON
#
# Instead of skip-networking the default is now to listen only on
# localhost which is more compatible and is not less secure.
bind-address		= 127.0.0.1
sql_mode		= NO_ENGINE_SUBSTITUTION
log_error		= /var/log/mysql/error.log
log_error_verbosity		= 3
slow_query_log_file		= /var/log/mysql/base/mysql-slow.log
log_bin		= /var/lib/mysql/mysql-bin.log
#binlog_do_db		= include_database_name
#binlog_ignore_db		= include_database_name
myisam-recover-options		= BACKUP
max_connections		= 81468
binlog-format		= ROW
server_id		= 406590050
innodb_log_checksums		= OFF
expire_logs_days		= 67
innodb_force_load_corrupted		= OFF
autocommit		= ON
automatic_sp_privileges		= ON
back_log		= 55838
binlog_cache_size		= 2111733345
binlog_direct_non_transactional_updates		= ON
binlog_error_action		= ABORT_SERVER
binlog_format		= MIXED
binlog_group_commit_sync_delay		= 37126
binlog_group_commit_sync_no_delay_count		= 99881
binlog_order_commits		= OFF
binlog_row_image		= full
binlog_rows_query_log_events		= OFF
binlog_stmt_cache_size		= 3353640440
bulk_insert_buffer_size		= 65043051
check_proxy_users		= OFF
completion_type		= CHAIN
concurrent_insert		= ALWAYS
connect_timeout		= 12353945
default_week_format		= 5
delay_key_write		= OFF
div_precision_increment		= 8
end_markers_in_json		= ON
eq_range_index_dive_limit		= 3377175767
explicit_defaults_for_timestamp		= OFF
flush		= ON
flush_time		= 1
ft_min_word_len		= 2
ft_query_expansion_limit		= 632
general_log		= OFF
group_concat_max_len		= 4271372400995138000
host_cache_size		= 37357
innodb_adaptive_flushing		= ON
innodb_adaptive_flushing_lwm		= 1
innodb_adaptive_hash_index_parts		= 138
innodb_adaptive_max_sleep_delay		= 62404
innodb_api_bk_commit_interval		= 353824987
innodb_api_disable_rowlock		= OFF
innodb_api_enable_binlog		= OFF
innodb_api_enable_mdl		= OFF
innodb_autoextend_increment		= 160
innodb_buffer_pool_size		= 29336130831
innodb_change_buffer_max_size		= 28
innodb_change_buffering		= purges
innodb_cmp_per_index_enabled		= OFF
innodb_commit_concurrency		= 179
innodb_compression_failure_threshold_pct		= 67
innodb_compression_level		= 2
innodb_compression_pad_pct_max		= 69
innodb_concurrency_tickets		= 4107713880
innodb_deadlock_detect		= ON
innodb_default_row_format		= DYNAMIC
innodb_disable_sort_file_cache		= OFF
innodb_doublewrite		= ON
innodb_file_per_table		= ON
innodb_fill_factor		= 21
innodb_flush_log_at_timeout		= 1923
innodb_flush_log_at_trx_commit		= 2
innodb_flush_neighbors		= 2
innodb_flush_sync		= ON
innodb_flushing_avg_loops		= 239
innodb_ft_cache_size		= 39834776
innodb_ft_enable_diag_print		= OFF
innodb_ft_enable_stopword		= ON
innodb_ft_max_token_size		= 34
innodb_ft_min_token_size		= 1
innodb_ft_num_word_optimize		= 8569
innodb_ft_result_cache_limit		= 2862978931
innodb_ft_sort_pll_degree		= 12
innodb_ft_total_cache_size		= 1530513421
innodb_io_capacity		= 1668230
innodb_io_capacity_max		= 24621
innodb_log_buffer_size		= 2672666047
innodb_log_compressed_pages		= ON
innodb_log_file_size		= 278315369
innodb_log_files_in_group		= 8
innodb_log_write_ahead_size		= 9546
innodb_lru_scan_depth		= 8073
innodb_max_dirty_pages_pct		= 45
innodb_max_dirty_pages_pct_lwm		= 5
innodb_max_purge_lag		= 1429640565
innodb_max_purge_lag_delay		= 7464292
innodb_max_undo_log_size		= 13539051353750464000
innodb_old_blocks_time		= 299919106
innodb_online_alter_log_max_size		= 9718726654357320000
innodb_open_files		= 128818
innodb_optimize_fulltext_only		= ON
innodb_page_cleaners		= 2
innodb_print_all_deadlocks		= ON
innodb_purge_batch_size		= 4393
innodb_purge_rseg_truncate_frequency		= 111
innodb_purge_threads		= 17
innodb_random_read_ahead		= OFF
innodb_read_ahead_threshold		= 46
innodb_read_io_threads		= 16
innodb_replication_delay		= 2604
innodb_rollback_on_timeout		= ON
innodb_rollback_segments		= 106
innodb_sort_buffer_size		= 41325442
innodb_spin_wait_delay		= 3224
innodb_stats_auto_recalc		= OFF
innodb_stats_include_delete_marked		= OFF
innodb_stats_method		= nulls_ignored
innodb_stats_on_metadata		= OFF
innodb_stats_persistent		= ON
innodb_stats_transient_sample_pages		= 96
innodb_strict_mode		= OFF
innodb_sync_array_size		= 746
innodb_sync_spin_loops		= 29092
innodb_table_locks		= OFF
innodb_thread_concurrency		= 13
innodb_thread_sleep_delay		= 690991
innodb_undo_log_truncate		= OFF
innodb_use_native_aio		= OFF
innodb_write_io_threads		= 6
join_buffer_size		= 196520871
keep_files_on_create		= OFF
key_buffer_size		= 15052940571
key_cache_age_threshold		= 6389
key_cache_block_size		= 16195
key_cache_division_limit		= 35
local_infile		= OFF
log_bin_trust_function_creators		= OFF
log_bin_use_v1_row_events		= ON
log_builtin_as_identified_by_password		= ON
log_output		= TABLE
log_queries_not_using_indexes		= OFF
log_slave_updates		= OFF
log_slow_admin_statements		= ON
log_statements_unsafe_for_binlog		= OFF
log_syslog_include_pid		= ON
log_timestamps		= UTC
long_query_time		= 17
low_priority_updates		= ON
lower_case_table_names		= 1
master_verify_checksum		= OFF
max_allowed_packet		= 777416604
max_binlog_cache_size		= 15179915464867798000
max_binlog_size		= 760508426
max_binlog_stmt_cache_size		= 4634306309919304000
max_delayed_threads		= 14132
max_digest_length		= 208675
max_error_count		= 4368
max_heap_table_size		= 187261862
max_join_size		= 385061591343740000
max_length_for_sort_data		= 3324292
max_points_in_geometry		= 525132
max_prepared_stmt_count		= 1024305
max_seeks_for_key		= 6937172103652018000
max_sort_length		= 7470650
max_user_connections		= 2441914537
max_write_lock_count		= 10725581695730336000
multi_range_count		= 795009098
mysql_native_password_proxy_users		= ON
net_buffer_length		= 20555
net_read_timeout		= 12
net_write_timeout		= 47
ngram_token_size		= 9
offline_mode		= ON
old_alter_table		= ON
old_passwords		= 2
open_files_limit		= 570930
optimizer_prune_level		= 1
optimizer_search_depth		= 49
preload_buffer_size		= 1044473703
query_alloc_block_size		= 28957228
query_cache_limit		= 80142098
query_cache_min_res_unit		= 40610
query_cache_size		= 1046342115
query_cache_wlock_invalidate		= ON
query_prealloc_size		= 14129104
range_alloc_block_size		= 29257
read_buffer_size		= 4213428
read_rnd_buffer_size		= 115233521
require_secure_transport		= OFF
session_track_gtids		= OFF
session_track_schema		= OFF
session_track_state_change		= ON
session_track_transaction_info		= OFF
show_compatibility_56		= ON
skip_external_locking		= ON
skip_name_resolve		= ON
skip_networking		= OFF
slow_query_log		= ON
sort_buffer_size		= 108594938
stored_program_cache		= 331849
sync_binlog		= 422661498
sync_frm		= ON
table_definition_cache		= 400707
table_open_cache		= 11596
table_open_cache_instances		= 11
thread_cache_size		= 13213
tmp_table_size		= 428255475
transaction_alloc_block_size		= 97089
transaction_prealloc_size		= 115868
updatable_views_with_limit		= NO
