[mysqld_safe]
socket		= /var/run/mysqld/mysqld.sock
nice		= 0

[mysqld]
#
# * Basic Settings
#
user		= mysql
#pid-file = /home/hong.wu/local/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock
port		= 3306
#basedir = /home/hong.wu/local/
datadir		= /var/lib/mysql
tmpdir		= /tmp
# secure_file_priv =
# skip-external-locking
# skip-grant-tables
# performance_schema
#show_compatibility_56 = ON
#
# Instead of skip-networking the default is now to listen only on
# localhost which is more compatible and is not less secure.
bind-address		= 127.0.0.1
sql_mode		= NO_ENGINE_SUBSTITUTION
log_error		= /var/log/mysql/error.log
log_error_verbosity		= 3
slow_query_log_file		= /var/log/mysql/base/mysql-slow.log
log_bin		= /var/lib/mysql/mysql-bin.log
#binlog_do_db		= include_database_name
#binlog_ignore_db		= include_database_name
myisam-recover-options		= BACKUP
max_connections		= 41593
binlog-format		= ROW
server_id		= 406590050
innodb_log_checksums		= OFF
expire_logs_days		= 90
innodb_force_load_corrupted		= OFF
autocommit		= ON
automatic_sp_privileges		= OFF
back_log		= 8386
binlog_cache_size		= 4150994430
binlog_direct_non_transactional_updates		= ON
binlog_error_action		= ABORT_SERVER
binlog_format		= ROW
binlog_group_commit_sync_delay		= 739739
binlog_group_commit_sync_no_delay_count		= 62354
binlog_order_commits		= OFF
binlog_row_image		= minimal
binlog_rows_query_log_events		= OFF
binlog_stmt_cache_size		= 3376782243
bulk_insert_buffer_size		= 5245442
check_proxy_users		= ON
completion_type		= CHAIN
concurrent_insert		= ALWAYS
connect_timeout		= 24819802
default_week_format		= 0
delay_key_write		= ALL
div_precision_increment		= 1
end_markers_in_json		= OFF
eq_range_index_dive_limit		= 1968579351
explicit_defaults_for_timestamp		= OFF
flush		= OFF
flush_time		= 5
ft_min_word_len		= 1
ft_query_expansion_limit		= 845
general_log		= ON
group_concat_max_len		= 3640944550880286000
host_cache_size		= 49312
innodb_adaptive_flushing		= OFF
innodb_adaptive_flushing_lwm		= 46
innodb_adaptive_hash_index_parts		= 359
innodb_adaptive_max_sleep_delay		= 367895
innodb_api_bk_commit_interval		= 1054713005
innodb_api_disable_rowlock		= ON
innodb_api_enable_binlog		= OFF
innodb_api_enable_mdl		= OFF
innodb_autoextend_increment		= 149
innodb_buffer_pool_size		= 32286416186
innodb_change_buffer_max_size		= 45
innodb_change_buffering		= none
innodb_cmp_per_index_enabled		= ON
innodb_commit_concurrency		= 318
innodb_compression_failure_threshold_pct		= 54
innodb_compression_level		= 8
innodb_compression_pad_pct_max		= 6
innodb_concurrency_tickets		= 3009648056
innodb_deadlock_detect		= ON
innodb_default_row_format		= COMPACT
innodb_disable_sort_file_cache		= ON
innodb_doublewrite		= ON
innodb_file_per_table		= ON
innodb_fill_factor		= 77
innodb_flush_log_at_timeout		= 770
innodb_flush_log_at_trx_commit		= 0
innodb_flush_neighbors		= 1
innodb_flush_sync		= OFF
innodb_flushing_avg_loops		= 519
innodb_ft_cache_size		= 20404418
innodb_ft_enable_diag_print		= OFF
innodb_ft_enable_stopword		= OFF
innodb_ft_max_token_size		= 39
innodb_ft_min_token_size		= 15
innodb_ft_num_word_optimize		= 3590
innodb_ft_result_cache_limit		= 4224886099
innodb_ft_sort_pll_degree		= 7
innodb_ft_total_cache_size		= 1524171086
innodb_io_capacity		= 1601023
innodb_io_capacity_max		= 23293
innodb_log_buffer_size		= 2832883342
innodb_log_compressed_pages		= OFF
innodb_log_file_size		= 980295857
innodb_log_files_in_group		= 10
innodb_log_write_ahead_size		= 3050
innodb_lru_scan_depth		= 10092
innodb_max_dirty_pages_pct		= 64
innodb_max_dirty_pages_pct_lwm		= 54
innodb_max_purge_lag		= 2024134660
innodb_max_purge_lag_delay		= 7288911
innodb_max_undo_log_size		= 14758498544495144000
innodb_old_blocks_time		= 2590741647
innodb_online_alter_log_max_size		= 654342976962531000
innodb_open_files		= 18196
innodb_optimize_fulltext_only		= ON
innodb_page_cleaners		= 3
innodb_print_all_deadlocks		= OFF
innodb_purge_batch_size		= 4297
innodb_purge_rseg_truncate_frequency		= 118
innodb_purge_threads		= 4
innodb_random_read_ahead		= OFF
innodb_read_ahead_threshold		= 3
innodb_read_io_threads		= 57
innodb_replication_delay		= 9026
innodb_rollback_on_timeout		= OFF
innodb_rollback_segments		= 123
innodb_sort_buffer_size		= 24864577
innodb_spin_wait_delay		= 3211
innodb_stats_auto_recalc		= OFF
innodb_stats_include_delete_marked		= ON
innodb_stats_method		= nulls_ignored
innodb_stats_on_metadata		= ON
innodb_stats_persistent		= OFF
innodb_stats_transient_sample_pages		= 73
innodb_strict_mode		= OFF
innodb_sync_array_size		= 44
innodb_sync_spin_loops		= 23296
innodb_table_locks		= OFF
innodb_thread_concurrency		= 20
innodb_thread_sleep_delay		= 235095
innodb_undo_log_truncate		= ON
innodb_use_native_aio		= OFF
innodb_write_io_threads		= 28
join_buffer_size		= 383352185
keep_files_on_create		= ON
key_buffer_size		= 11520320723
key_cache_age_threshold		= 13526
key_cache_block_size		= 6114
key_cache_division_limit		= 96
local_infile		= OFF
log_bin_trust_function_creators		= ON
log_bin_use_v1_row_events		= ON
log_builtin_as_identified_by_password		= ON
log_output		= FILE
log_queries_not_using_indexes		= ON
log_slave_updates		= OFF
log_slow_admin_statements		= OFF
log_statements_unsafe_for_binlog		= ON
log_syslog_include_pid		= ON
log_timestamps		= UTC
long_query_time		= 16
low_priority_updates		= OFF
lower_case_table_names		= 1
master_verify_checksum		= OFF
max_allowed_packet		= 582509337
max_binlog_cache_size		= 7564654225564744000
max_binlog_size		= 27865213
max_binlog_stmt_cache_size		= 1209021049258158000
max_delayed_threads		= 15916
max_digest_length		= 483046
max_error_count		= 23397
max_heap_table_size		= 1050112861
max_join_size		= 15642804881957808000
max_length_for_sort_data		= 8117545
max_points_in_geometry		= 264620
max_prepared_stmt_count		= 289094
max_seeks_for_key		= 4618485740745984000
max_sort_length		= 1068742
max_user_connections		= 913694758
max_write_lock_count		= 12508016272956696000
multi_range_count		= 3744394462
mysql_native_password_proxy_users		= ON
net_buffer_length		= 250281
net_read_timeout		= 34
net_write_timeout		= 62
ngram_token_size		= 1
offline_mode		= ON
old_alter_table		= ON
old_passwords		= 0
open_files_limit		= 610075
optimizer_prune_level		= 1
optimizer_search_depth		= 4
preload_buffer_size		= 577415041
query_alloc_block_size		= 12164313
query_cache_limit		= 98133678
query_cache_min_res_unit		= 30362
query_cache_size		= 1767913303
query_cache_wlock_invalidate		= ON
query_prealloc_size		= 99727882
range_alloc_block_size		= 43858
read_buffer_size		= 827084370
read_rnd_buffer_size		= 132027298
require_secure_transport		= ON
session_track_gtids		= OWN_GTID
session_track_schema		= OFF
session_track_state_change		= OFF
session_track_transaction_info		= CHARACTERISTICS
show_compatibility_56		= OFF
skip_external_locking		= ON
skip_name_resolve		= ON
skip_networking		= OFF
slow_query_log		= ON
sort_buffer_size		= 18401465
stored_program_cache		= 371087
sync_binlog		= 1214904417
sync_frm		= OFF
table_definition_cache		= 381372
table_open_cache		= 120528
table_open_cache_instances		= 34
thread_cache_size		= 12805
tmp_table_size		= 104496379
transaction_alloc_block_size		= 98339
transaction_prealloc_size		= 51901
updatable_views_with_limit		= YES
